#profileImg, #editProfileImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#editProfileImg:hover {
    opacity: 0.8;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    img#profile_img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

@media (max-width: 576px) {
    img#profile_img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

.form-control:focus {
    border-color: rgb(83, 83, 83);
    box-shadow: none;
}

.form-control[type=search] {
    box-shadow: none;
}

.form-control-custom.form-control.is-valid, .was-validated .form-control-custom.form-control:valid {
    border-color: #CED4DA;
    background-image: none;
}

.form-control-custom.form-control.is-invalid, .was-validated .form-control-custom.form-control:invalid {
    border-color: #CED4DA;
    background-image: none;
}

.form-control-custom.form-control.is-valid:focus, .was-validated .form-control-custom.form-control:valid:focus {
    border-color: none;
    box-shadow: none;
}

.form-control-custom.form-control.is-invalid:focus, .was-validated .form-control-custom.form-control:invalid:focus {
    border-color: none;
    box-shadow: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid ~ label {
    color: #DC3545;
}

.form-control.is-valid,
.was-validated .form-control:valid ~ label {
    color: #198754;
}

.form-control-custom.is-invalid,
.was-validated .form-control-custom:invalid ~ label {
    color: black;
}

.form-control-custom.is-valid,
.was-validated .form-control-custom:valid ~ label {
    color: black;
}

.modal-open {
    overflow: hidden;
}