body {
  background-color: #F8F9FA;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

.site-header a {
  color: white;
  -webkit-transition: ease-in-out color .15s;
  -o-transition: ease-in-out color .15s;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid black;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* INICIO NAVBAR */

.fa-solid.fa-cart-shopping,
.fa-regular.fa-heart {
  color: #6C757D;
}

.fa-solid.fa-cart-shopping:hover,
.fa-regular.fa-heart:hover {
  color: white;
}

.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger {
  font-size: 10px;
}

a.navbar-brand {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgLogo {
  width: 50px;
}

.navToggler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: background-color 450ms cubic-bezier(0.215, 0.61, 0.335, 1);
  transition: background-color 450ms cubic-bezier(0.215, 0.61, 0.335, 1);
}

.navToggler-top {
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  background-color: white;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 450ms;
  transition: transform 450ms;
}

.navToggler-bottom {
  width: 20px;
  height: 2px;
  margin-top: 4px;
  background-color: white;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 450ms;
  transition: transform 450ms;
}

.navToggler.active > .navToggler-top {
  width: 28px;
  background-color: white;
  -webkit-transform: translate3d(0px, 5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  -moz-transform: translate3d(0px, 5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  -ms-transform: translate3d(0px, 5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  transform: translate3d(0px, 5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
}

.navToggler.active > .navToggler-bottom {
  width: 28px;
  background-color: white;
  -webkit-transform: translate3d(0px, -5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  -moz-transform: translate3d(0px, -5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  -ms-transform: translate3d(0px, -5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  transform: translate3d(0px, -5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
}

/* FIN NAVBAR */


/* INICIO CATEGORIES + PRODUCTOS */

.border-muted {
  border: 1px solid #CED4DA;
}

input.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #CED4DA;
}

.fa-solid.fa-arrow-right-from-bracket,
.fa-solid.fa-eraser {
  font-size: 30px;
  color: rgba(192, 192, 192, 0.866);
  cursor: pointer;
}

.fa-solid.fa-arrow-right-from-bracket:hover,
.fa-solid.fa-eraser:hover {
  color: #0D6EFD;
}

@media (max-width:576px) and (min-width: 370px) {
  .col-xs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
    margin: auto;
  }

  .col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    margin: auto;
  }

  .col-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    margin: auto;
  }
}

@media (min-width:576px) and (max-width: 703px) {
  .col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    margin: auto;
  }
}

.row-gap-2 {
  row-gap: 20px;
}

.bg-sort {
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.bg-sort:hover {
  background-color: #f5f5f5;
}

.bg-sort-active {
  background-color: #f5f5f5;
  border: #cccccc solid 1px;
}

.w-60 {
  width: 60% !important;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-body a {
  text-decoration: none;
  color: #6C757D;
}

.accordion-body a:hover {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

/* FIN CATEGORIES + PRODUCTOS */

.imgCat,
.imgProd {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cardHover:hover {
  background-color: rgb(245, 245, 245);
}

.cardHover:focus {
  background-color: rgb(233, 236, 239);
}

.redirectOnTop {
  text-decoration: none;
  color: #000000;
}

.redirectOnTop:hover {
  text-decoration: underline;
  color: #181818;
}

li {
  list-style: none;
}

footer h6 {
  font-size: 13px;
}

.preFooterList a {
  text-decoration: none;
  color: #6C757D;
  font-size: small;
}

.preFooterList a:hover {
  color: black;
}

footer {
  background-color: #f4f4f4;
}

@media (min-width: 768px) {
  footer h6 {
    font-size: 15px;
  }


  .preFooterList a {
    font-size: 14px;
  }
}

textarea {
  resize: none;
}