body {
  background-color: #F8F9FA;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

.site-header a {
  color: white;
  -webkit-transition: ease-in-out color .15s;
  -o-transition: ease-in-out color .15s;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.784);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* INICIO NAVBAR */

.fa-solid.fa-cart-shopping, .fa-regular.fa-heart {
  color: #6C757D;
}

.fa-solid.fa-cart-shopping:hover, .fa-regular.fa-heart:hover {
  color: white;
}

.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger {
  font-size: 10px;
}

a.navbar-brand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgLogo {
  width: 50px;
}

.navToggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  background: transparent;
  gap: .50rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navToggler > div {
  background-color: white;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  -webkit-transition:  all .5s;
  -o-transition:  all .5s;
  transition:  all .5s;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}

.navToggler.active div:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navToggler.active div:nth-child(2) {
  opacity: 0;
}

.navToggler.active div:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* FIN NAVBAR */

/* INICIO INDEX */

.col-6.cards {
  padding-right: 0;
}

.col-6.guaSecurity {
  padding-left: 0;
}

.cardSpan, .securitySpan {
  font-size: 11px;
}

.cardsShowMore, .securityShowMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

img.creditCard  {
  width: 40px;
  height: 40px;
}

img.security {
  width: 40px;
  height: 40px;
}

.card-body.line {
  border-top: #DFDFDF 1px solid;
  padding: 5px;
}

.popularCat {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.imgHoverContainer {
  position: relative;
}

img.imgCatInIndex {
  height: 80px;
  width: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  display: block;
}

.imgHoverContainer:hover .imgCatInIndex {
  opacity: 0.7;
}

@media (min-width: 320px) {
  img.imgCatInIndex {
    height: 80px;
    width: 85px;
  }
}

.col-4.col-md-1.col-sm-2.text-center {
  width: auto;
}

.stockAvailable, .soldCount {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.discount {
  font-size: 10px;
}

.cardSales, .cardTopSales {
  border-radius: 4px;
  border: 1px solid #DFDFDF;
  padding: 0;
}

.priceSales, .priceTopSales {
  font-size: 12px;
}

.saleDiscount {
  font-size: 8px;
}

.nameProductSale, .nameProductTopSale {
  font-size: 12px; 
}

.mb-4.shadow-sm.cursor-active.cardTopSales .card-body, .mb-4.shadow-sm.cursor-active.cardSales .card-body {
  padding: 10px;
}

a.showMore {
  font-size: small;
}

li {
  list-style: none;
}

footer h6 {
  font-size: 13px;
}

.preFooterList a {
  text-decoration: none;
  color: #6C757D;
  font-size: small;
}

.preFooterList a:hover {
  color: black;
}

footer {
  background-color: #f4f4f4;
}

@media (min-width: 768px) {
  h4.subtitles {
    font-size: 30px;
  }

  a.showMore {
    font-size: 15px;
    padding-left: 10px;
  }
  
  img.imgCatInIndex {
    height: 100px;
    width: 105px;
  }


  .popularCat {
    font-size: 17px;
  }
  
  .nameProductSale, .nameProductTopSale {
    font-size: 18px;
  }
  
  .nameProductTopSale {
    margin-bottom: 10px;
  }

  .discount {
    font-size: 14px;
  }
  
  .saleDiscount {
    margin-top: 10px;
    font-size: 12px;
  }

  .priceSales, .priceTopSales {
    font-size: 18px;
  }

  .stockAvailable, .soldCount {
    font-size: 13px;
  }

  footer h6 {
    font-size: 15px;
  }
  
  .preFooterList a {
    font-size: 14px;
  }
}

@media (max-width: 767px) and (min-width: 400px) {
  .nameProductSale, .nameProductTopSale {
    font-size: 18px;
  }

  .priceSales, .priceTopSales {
    font-size: 14px;
  }

  .stockAvailable, .soldCount {
    font-size: 12px;
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {
  .nameProductSale, .nameProductTopSale {
    font-size: 18px;
  }

  .priceSales, .priceTopSales {
    font-size: 18px;
  }

  .stockAvailable, .soldCount {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {  
  .nameProductSale, .nameProductTopSale {
    font-size: 14px;
  }

  .priceSales, .priceTopSales {
    font-size: 15px;
  }

  .stockAvailable, .soldCount {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  img.imgCatInIndex {
    height: 125px;
    width: 125px;
  }

  .row.flex-nowrap.overflow-auto.catImgName {
    gap: 20px;
  }

  .row.flex-nowrap.overflow-auto {
    margin-bottom: 50px;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(143, 143, 143, 0.611) rgba(233, 233, 233, 0.542);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(233, 233, 233, 0.542);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(143, 143, 143, 0.611);
  border-radius: 10px;
  border: rgba(233, 233, 233, 0.542);
}

/* FIN INDEX */

/* INICIO CATEGORIES */

.border-muted {
  border: 1px solid #CED4DA;
}

input.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #CED4DA;
}

.fa-solid.fa-arrow-right-from-bracket, .fa-solid.fa-eraser {
  font-size: 30px;
  color:rgba(192, 192, 192, 0.866);
  cursor: pointer;
}

.fa-solid.fa-arrow-right-from-bracket:hover, .fa-solid.fa-eraser:hover {
  color:#0D6EFD;
}

/* .countFilter > .col-2 {
  padding-left: 0;
} */

@media (max-width:576px) and (min-width: 370px) {
  .col-xs-9{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
    margin: auto;
  }

  .col-xs-6{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    margin: auto;
  }

  .col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
    margin: auto;
  }
}

@media (min-width:576px) and (max-width: 703px) {
  .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    margin: auto;
  }

  /* .mt-xs-2 {
    background-color: red;
    margin-top: 0.5rem !important;
  } */
}

.row-gap-2 {
  row-gap: 20px;
}

.bg-sort{
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.bg-sort:hover {
  background-color: #f5f5f5;
}

.bg-sort-active {
  background-color: #e1e1e1;
}

.w-60 {
  width: 60% !important;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-body a {
  text-decoration: none;
  color: #6C757D;
}

.accordion-body a:hover {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

/* FIN CATEGORIES */

/* INICIO PRODUCT */

.buyBtn {
  bottom: 50px;
  right: 10px;
  width: 100px;
}

.medium {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  font-size: 1.1rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    width: 50%;
  }
}

.prodDiscount {
  right: 0;
  font-size: 30px;
}

@media (min-width:576px) {
  .prodDiscount {
    font-size: 20px;
  }

  .buyBtn {
    font-size: 0.7rem;
  }
}

/* FIN PRODUCT */

.cardHover:hover {
  background-color: rgb(245, 245, 245);
}

.cardHover:focus {
  background-color: rgb(233, 236, 239);
}

/* INICIO PRODUCT-INFO */

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.indicators {
  width: 100%;
  max-width: 100px;
  opacity: 0.5;
}

.indicators:hover {
  opacity: .8;
}

.active .indicators {
  /* smooth transition */
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
  /* border: 1px solid black; */
}

.btn:focus {
  box-shadow: none;
}

.c-indicators button {
  padding: 0 5px;
}

textarea {
  resize: none;
}

.form-control:focus {
  border-color: rgb(83, 83, 83);
  box-shadow: none;
}

.stars {
  user-select: none;
}

button.btn.btn-primary.ms-3 {
  height: 40px;
  margin: auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-8.p-info {
    -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    width: 65%;
  }

  .col-lg-4.p-info {
    -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    width: 35%;
  }
}

.redirectOnTop {
  text-decoration: none;
  color: #000000;
}

.redirectOnTop:hover {
  text-decoration: underline;
  color: #181818;
}
/* FIN PRODUCT-INFO */

.row:before, .row:after{ display: block; } 